main {
    background-color: rgb(29, 17, 61);
    height: 100%;
}

footer {
    background-color: #37393d;
    height: 50px;
}

h1, h2, h3 {
    color: rgb(71, 74, 74);
}

p {
    min-height: 50px;
    width: 100%;
    background-color: rgba(71, 74, 74, 0.596);
}

a {
    color: white;
}

a:hover {
    font-weight: bold;
}

img {
    width: 500px;
    height: 200px;
    /* border-radius: 0% 25%;
    overflow: hidden;
    display: block; */
    border: 5px solid black;
    object-fit: cover;
    }

    .goldi1 {
        object-fit: contain;
    }