* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.box-example {
    height: 300px;
    width: 300px;
    background: pink;
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 50px;
}

a {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}